{% load listtocolumns i18n tagutils settingstag urltag extendedtags paginator %}
<table class="table-style cd-table client_lists">
<caption>{% trans "Player Activity" %}</caption>
<thead>
<tr>
<th>{% trans "Date" %}</th>
<th>{% trans "Command" %}</th>
<th>{% trans "Params" %}</th>
<th>{% trans "Target" %}</th>
</tr>
</thead>
<tbody>
{% with client_adm_commands.object_list as logs %}
{% for log in logs %}
<tr class="{% cycle "odd" "even" %}">
<td>{{log.time_add|date:"DATETIME_FORMAT"}}</td>
<td>{{log.command}}</td>
<td>{%if log.data %}{{log.data}}{%else%}-{%endif%}</td>
<td>{% if log.target %}<a href="{% serverurl client_detail log.target.id %}">{{log.target.name}}</a>{%else%}-{%endif%}</td>
{% empty %}
<tr class="odd">
<td colspan="4">{% trans "No player activity" %}</td>
</tr>
{% endfor %}
</tbody>
{% if logs %}
<tfoot>
	<tr>
		<td colspan="4">
			{% serverurl auditor:commands client.id as actionsurl %}
			{% paginate client_adm_commands actionsurl %}
		</td>
	</tr>
</tfoot>
{% endif %}
{% endwith %}
</table>