{% load urltag listtocolumns i18n tagutils settingstag paginator %}
{% with client_auditlogs.object_list as auditlogs %}
{% if auditlogs %}
<table class="table-style cd-table client_lists">
<caption>{% trans "Portal Actions" %}</caption>
<thead>
<tr>
<th style="width: 125px;">{% trans "Date" %}</th>
<th>{% trans "User" %}</th>
<th>{% trans "Action" %}</th>
</tr>
</thead>
<tbody>
{% for log in auditlogs %}
<tr class="{% cycle "odd" "even" %}">
<td>{{log.created|date:"DATETIME_FORMAT"}}</td>
<td>{{log.user.username}}</td>
<td>{{log.message}}</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
	<tr>
		<td colspan="5">
			{% serverurl client_more_logs client.id as logsurl %}
			{% paginate client_auditlogs logsurl %}
		</td>
	</tr>
</tfoot>
</table>
{% endif %}
{% endwith %}

