{% load listtocolumns i18n tagutils settingstag urltag paginator %}
<table class="table-style cd-table client_lists">
<caption>{% trans "Notices" %}{% if obj_perms.portal.addnotice %}<a id="add_notice_link" title="{% trans "Add" %}" alt="{% serverurl add_notice client.id %}" class="nodecoration_icon icon_add">&nbsp;</a>{% endif %}</caption>
<thead>
<tr>
<th>{% trans "Added" %}</th>
<th>{% trans "Reason" %}</th>
<th>{% trans "Admin" %}</th>
</tr>
</thead>
<tbody>
{% with client_notices.object_list as notices %}
{% for penalty in notices %}
<tr class="{% cycle "odd" "even" %}">
<td>{{penalty.time_add|date:"DATETIME_FORMAT"}}
{% if obj_perms.portal.removepenalty or obj_perms.portal.removenotice %}
<a confirm="confirm" alt="{% serverurl del_notice penalty.id %}" callback="load_notices" title="{% trans "Remove" %}" class="nodecoration_icon icon_delete"></a>
{% endif %}
</td>
<td>{{penalty.reason|clean_colors}}</td>
<td>{% if penalty.admin and penalty.admin.id > 0 %}<a href="{% serverurl client_detail penalty.admin.id %}">{{penalty.admin.name}}</a>{% else %}{% if penalty.admin_username %}{{penalty.admin_username}}{%else%}-B3{%endif%}{%endif%}</td>
</tr>
{% empty %}
<tr class="odd">
<td colspan="6">{% trans "No notices" %}</td>
</tr>
{% endfor %}
</tbody>
{% if notices %}
<tfoot>
	<tr>
		<td colspan="5">
			{% serverurl client_more_notices client.id as noticeurl %}
			{% paginate client_notices noticeurl %}
		</td>
	</tr>
</tfoot>
{% endif %}
{% endwith %}
</table>
<script type="text/javascript">
<!--
create_dialog("#add_notice_link", load_notices); 
-->
</script>