{% load i18n settingstag %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>
<title>{% block title %}{% setting "SITE_NAME" %} | {% trans "Page unavailable" %}{% endblock %}</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link type="image/x-icon" href="{{STATIC_URL}}favicon.ico" rel="shortcut icon" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.error.css"/>
</head>
<body>
<div class="wrapper">
	<div class="header">
		{% trans "Page unavailable." %}
	</div>

	<div class="body">
		<div class="left">
			<p>{% trans "The <b>bad news</b> is that we have just encountered an error." %}</p>
			<p>{% trans "The <b>good news</b> is that you've helped us find a bug, which we are now looking into." %}</p>
			<br/>
			<p>{% trans "We're sorry, a server error occurred. Please wait a bit and try again." %}</p>
			<br/>
			<p>{% trans "Sorry, and thanks for your help!" %}</p>
		</div>
		<img class="image" src="{{STATIC_URL}}images/500.jpg" alt="{% trans "Page unavailable" %}" />
	</div>
</div>
</body>
</html>



