{% load i18n settingstag %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>
<title>{% block title %}{% setting "SITE_NAME" %}{% endblock %}</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link type="image/x-icon" href="{{STATIC_URL}}favicon.ico" rel="shortcut icon" />
<script type="text/javascript">
var MEDIA_URL='{{STATIC_URL}}';
var MUP_URL='{% url userinformation %}';
</script>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.0/build/cssreset/cssreset-min.css"/>
<!-- link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.0/build/cssbase/cssbase-min.css"/-->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/site/layout_patch.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}plus/pluslayout.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/tipTip.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/new/inputs.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/new/table.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.place.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/new/common.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}plus/layoutpatch.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/new/flags.css"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.dropdown.js"></script>
<!-- script type="text/javascript" src="{{STATIC_URL}}js/jquery.ajaxlink.js"></script-->
<script type="text/javascript" src="{{STATIC_URL}}js/base.js"></script>
{% block extra_header %}
{% endblock %}
</head>
<body>
<div id="context-loader" class="context-loader">{% trans "Loading..." %}</div>
{% block main_page %}{% endblock %}
<script type="text/javascript">
$("#context-loader").hide();
</script>
</body>
</html>
