{% extends "base_simple.html" %}
{% load i18n settingstag navigation gravatar extendedtags plugintag urltag %}
{% block extra_header %}
<script type="text/javascript" src="{{STATIC_URL}}plus/layout.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/baseapp.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.measure.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.place.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.pulse.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.loading.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tiptip.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('body').ajaxStart(function() {
    	$.loading(true, {text: '{% trans "Working..." %}', loadingClass: 'context-loader', update: {texts: ['{% trans "Please, wait..." %}', '{% trans "Oops!, something went wrong." %}']}});
    }); 
    $('body').ajaxStop(function() {
        $.loading(false);      
    });
});
</script>
{% endblock %}

{% comment %}
<!-- /////// LANG ICONS ///////// -->
{% block topnav-lang %}
{% get_available_languages as LANGUAGES %}
{% for code, name in LANGUAGES %}
<a href="?lang={{code}}" class="nodecoration_icon_2 lang_{{code}}" title="{{name}}"></a> 
{% endfor %}
{% endblock %}
{% endcomment %}

<!-- HEADER -->
{% block main_header %} 
{% if user.is_staff %}
<a href="{% url admin:index %}" class="plus-button button-settings">
    <div class="button-settings-icon">{% trans "Administration" %}</div>
</a>
{% endif %}		

{% if obj_perms.portal.viewclientinfo %}
<div id="header_action_bar">
{% include "b3portal/client/quick.html" %}
</div>
{% endif %}

<div class="header-right">
	{% if user.is_authenticated %}
    <ol id="profile">
        <li class="profile-text">{{user.username}}</li>
        <li class="avatar">
        	{% gravatar user.email "gravatar" 40 %}
        </li>
    </ol>
    <div id="profile-box" class="profile-box">
    	<div id="profile-box-indicator"></div>
        <div class="profile-detail">
            {% gravatar user.email "gravatar" 60 %}
		  	{% if user.is_superuser or user.owned_servers.all %}
		  	<a href="{% url server:home %}" class="plus-button plus-button-blue">{% trans "My Servers" %}</a>
		  	{% endif %}
            <span class="profile-text">{{user.email}}</span>
        </div>
        <div class="profile-box-footer">
            <table>
                <tr>
				  	{% if not user.is_external %}
				  	<td><a href="{% url account_update_password %}" class="plus-button">{% trans "Change password" %}</a></td>
				  	{% endif %}
            		<td><a href="{% url auth_logout %}" class="plus-button">{% trans "Sign out" %}</a></td>    
                </tr>
            </table>
        </div>
    </div>
    {% else %}
	  	<form id="login" class="default" method="post" accept-charset="utf-8" action="{% url user_signin %}">
            {% csrf_token %}
         	<input type="text" id="id_username" name="username" maxlength="30" placeholder="{% trans "Username" %}" autocomplete="on" title="{% trans "Username" %}" value="">
         	<input type="password" name="password" id="id_password" title="{% trans "Password" %}" placeholder="{% trans "Password" %}" value="">
            <a alt="submit" class="plus-button">{% trans "Sign in" %}</a>
		</form>
    {% endif %}
</div>
{% endblock %}

<!-- NAVIGATION -->
{% block navigation %}

	{% ifplugininstalled "map" %}
     <div class="nav-menu">
     	{% url map:home as url_nav_maps %}
         <a tabindex="-1" class="nav-button {% current_nav url_nav_maps %}" href="{{ url_nav_maps }}">
             <div>
                 <div class="nav-icon nav-icon-maps"></div>
                 <div class="nav-text">{% trans "Maps" %}</div>
             </div>
         </a>
     </div>
    {% endifplugininstalled %}
    
     <div class="nav-menu">
     	 {% include "b3portal/penalties/ban_list_menu.html" %}
     	 {% serverurl ban_list as url_nav_bans %}
         <a tabindex="-1" class="nav-button {% current_nav url_nav_bans %}" href="{{ url_nav_bans }}">
             <div>
                 <div class="nav-icon nav-icon-penalties"></div>
                 <div class="nav-text">{% trans "Penalties" %}</div>
             </div>
         </a>
     </div>
     
     {% if obj_perms.portal.viewclientinfo %}
     <div class="nav-menu">
     	 {% include "b3portal/client/client_menu.html" %}
     	 {% serverurl client_list as url_nav_clients %}
         <a tabindex="-1" alt="link" class="nav-button {% current_nav url_nav_clients %}" href="{{ url_nav_clients }}">
             <div>
                 <div class="nav-icon nav-icon-players"></div>
                 <div class="nav-text">{% trans "Players" %}</div>
             </div>
         </a>
     </div>
     {% endif %}

	{% ifplugininstalled "chatlog" %}
	{% if obj_perms.plugin.chatlog %}
     <div class="nav-menu">
     	 {% serverurl chatlog:chat_list as url_nav_chatlog %}
         <a tabindex="-1" class="nav-button {% current_nav url_nav_chatlog %}" href="{{ url_nav_chatlog }}">
             <div>
                 <div class="nav-icon nav-icon-chat"></div>
                 <div class="nav-text">{% trans "Chat Logs" %}</div>
             </div>
         </a>
     </div>
     {% endif %}
     {% endifplugininstalled %}
	    
	{% ifplugininstalled "status" %}
	{% if obj_perms.plugin.viewstatus %}
     <div class="nav-menu">
		 {% include "status/status_menu.html" %}
     	 {% serverurl status:home as url_nav_status %}
         <a tabindex="-1" class="nav-button {% current_nav url_nav_status %}" href="{{ url_nav_status }}">
             <div>
                 <div class="nav-icon nav-icon-status"></div>
                 <div class="nav-text">{% trans "Status" %}</div>
             </div>
         </a>
     </div>
     {% endif %}
     {% endifplugininstalled %}

	{% if obj_perms.portal.rcon %}
     <div class="nav-menu">
         {% include "b3portal/admin/rcon_menu.html" %}
		 {% url rcon:home as url_nav_admin %}
         <a tabindex="-1" class="nav-button menu-nav-button {% current_nav url_nav_admin %}">
             <div>
                 <div class="nav-icon nav-icon-rcon"></div>
                 <div class="nav-text">{% trans "RCON" %}</div>
             </div>
         </a>
     </div>
     {% endif %}
     
{% endblock %}																																																																																																																																																
