{% load i18n settingstag %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>
<title>{% block title %}{% setting "SITE_NAME" %}{% endblock %}</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link type="image/x-icon" href="{{STATIC_URL}}favicon.ico" rel="shortcut icon" />
<script type="text/javascript">
var MEDIA_URL='{{STATIC_URL}}';
</script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/styles.css"/>
<!--[if lte IE 7]>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/layout_patch.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/site/layout_ie.css"/>
<![endif]-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.dropdown.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}menu/menu.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/base.js"></script>
{% block extra_header %}
{% endblock %}
</head>
<body>
<div id="loading"></div>
   {% block main_page %}{% endblock %}
</body>
</html>
																																																																																																																																																						