{% extends "base_simple.html" %}
{% load i18n settingstag navigation gravatar extendedtags %}
{% block extra_header %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.place.css"/>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.measure.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.place.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.pulse.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.loading.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('body').ajaxStart(function() {
        $.loading(true, {text: '{% trans "Loading..." %}'});
    }); 
    $('body').ajaxStop(function() {
        $.loading(false);      
    });
});
</script>
{% endblock %}
{% block topnav-lang %}
{% get_available_languages as LANGUAGES %}
{% for code, name in LANGUAGES %}
<a href="?lang={{code}}" class="nodecoration_icon_2 lang_{{code}}" title="{{name}}"></a> 
{% endfor %}
{% endblock %}
{% block navigation %}
	<ul class="topnav">
        {% url home as url_nav_home %}    
		{% url map_list as url_nav_maps %}
		{% url ban_list as url_nav_bans %}
		{% url client_list as url_nav_clients %}
		{% url chat_list as url_nav_chatlog %}
		{% url game_status as url_nav_status %}
		{% url game_admin as url_nav_admin %}
        {% if user.is_staff %}
        <li class="nodecoration_icon icon_config"><a style="font-weight: bold;" href="{% url admin:index %}">{% trans "Administration Panel" %}</a></li>
        {% endif %}		
		<li class="{% current_nav url_nav_home %}"><a href="{{ url_nav_home }}">{% trans "Home" %}</a></li>
	    <li><a href="http://foro.codwar.com.ar">{% trans "Forum" %}</a></li>
	    <li class="{% current_nav url_nav_maps %}"><a href="{{ url_nav_maps }}">{% trans "Maps" %}</a></li>
	    <li class="{% current_nav url_nav_bans %}"><a href="{{ url_nav_bans }}">{% trans "Penalties" %}</a>
	    {% include "b3portal/ban_list_menu.html" %}
	    </li>
	    {% ifinstalled "plugins.stats" %}
	    {% url stats_home as url_nav_stats %}
	    <li class="{% current_nav url_nav_stats %}"><a href="{{ url_nav_stats }}">{% trans "Stats" %}</a></li>
	    {% endifinstalled %}
	    {% if perms.b3connect.view_client %}
	    <li class="{% current_nav url_nav_clients %}"><a href="{{ url_nav_clients }}">{% trans "Players" %}</a>
		{% include "b3portal/client/client_menu.html" %}	    
	    </li>
	    {% endif %}
	    {% ifinstalled "plugins.chatlog" %}
	    {% if perms.chatlog.view_chat %}
	    <li class="{% current_nav url_nav_chatlog %}"><a href="{{ url_nav_chatlog }}">{% trans "Chat Logs" %}</a></li>
	    {% endif %}
	    {% endifinstalled %}
	    {% ifinstalled "plugins.stats" %}
	    {% if perms.status.view_serverstatus %}
	    <li class="{% current_nav url_nav_status %}"><a href="{{ url_nav_status }}">{% trans "Status" %}</a></li>
	    {% endif %}
	    {% endifinstalled %}
	    {% if user.is_superuser %}
	    <li class="{% current_nav url_nav_admin %}"><a href="{{ url_nav_admin }}">{% trans "RCON" %}</a></li>
	    {% endif %}
	    
	  {% if user.is_authenticated %}
	  {% with user.username as name %}
	  <span class="text2"><a href="http://gravatar.com" target="blank">{% blocktrans %}Welcome {{name}}{% endblocktrans %} {% gravatar user.email "avatar" 18 %}</a></span>
	  <span class="text2"> | </span>
	  {% if user.profile.canChangePassword %}
	  <a class="change_pass" href="{% url auth_logout %}">{% trans "Change password" %}</a>
	  {% endif %}
	  <a class="logout" href="{% url auth_logout %}">{% trans "Sign out" %}</a>
	  {% endwith %}
	  {% else %}
	  <a class="login" href="{% url user_signin %}">{% trans "Sign in" %}</a>
	  {% endif %}
	  	    
        <li style="float: right; margin-right: 20px; padding-top: 5px;">
			{% if perms.b3connect.view_client %}
			{% include "b3portal/client/quick.html" %}
			{% endif %}
        </li>
    </ul>
{% endblock %}																																																																																																																																																