{% extends "base_simple.html" %}
{% load i18n settingstag navigation gravatar extendedtags plugintag urltag %}
{% block extra_header %}
<script type="text/javascript" src="{{STATIC_URL}}js/baseapp.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.measure.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.place.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.pulse.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.loading.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tiptip.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('body').ajaxStart(function() {
    	$.loading(true, {text: '{% trans "Working..." %}', loadingClass: 'context-loader', update: {texts: ['{% trans "Please, wait..." %}', '{% trans "Oops!, something went wrong." %}']}});
    }); 
    $('body').ajaxStop(function() {
        $.loading(false);      
    });
});
</script>
{% endblock %}
{% block topnav-lang %}
{% get_available_languages as LANGUAGES %}
{% for code, name in LANGUAGES %}
<a href="?lang={{code}}" class="nodecoration_icon_2 lang_{{code}}" title="{{name}}"></a> 
{% endfor %}
{% endblock %}
{% block topbar %}
{% if user.is_authenticated %}
<div id="topbar" class="clear topbar">&nbsp;
	<div class="topbar-container" style="display: none;">
	<div class="topbar-button-close-container">
		<a class="topbar-button-close" href="#">&nbsp;</a>
	</div>
	<div class="topbar-content">
	{% if obj_perms.portal.viewclientinfo %}
	<div style="float: right; margin-right: 10px;">
	{% include "b3portal/client/quick.html" %}
	</div>
	{% endif %}
	</div>
	</div>
	<div class="topbar-single-container">
		<div class="topbar-button-open-container" style="display: none;">
			<a class="topbar-button-open" href="#">&nbsp;</a>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
{% block navigation %}
	<ul class="topnav">
        {% if user.is_staff %}
        <li class="nodecoration_icon icon_config"><a style="font-weight: bold;" href="{% url admin:index %}">{% trans "Administration Panel" %}</a></li>
        {% endif %}		
		{% url home as url_nav_home %}        
		<li class="{% current_nav url_nav_home %}"><a href="{{ url_nav_home }}">{% trans "Home" %}</a></li>
		{% ifplugininstalled "map" %}
		{% url map:home as url_nav_maps %}
	    <li class="{% current_nav url_nav_maps %}"><a href="{{ url_nav_maps }}">{% trans "Maps" %}</a></li>
	    {% endifplugininstalled %}
	    {% serverurl ban_list as url_nav_bans %}
	    <li class="{% current_nav url_nav_bans %}"><a href="{{ url_nav_bans }}">{% trans "Penalties" %}</a>
	    {% include "b3portal/penalties/ban_list_menu.html" %}
	    </li>
	    {% if obj_perms.portal.viewclientinfo %}
	    {% serverurl client_list as url_nav_clients %}
	    <li class="{% current_nav url_nav_clients %}"><a href="{{ url_nav_clients }}">{% trans "Players" %}</a>
		{% include "b3portal/client/client_menu.html" %}	    
	    </li>
	    {% endif %}
	    {% ifplugininstalled "chatlog" %}
	    {% if obj_perms.plugin.chatlog %}
	    {% serverurl chatlog:chat_list as url_nav_chatlog %}
	    <li class="{% current_nav url_nav_chatlog %}"><a href="{{ url_nav_chatlog }}">{% trans "Chat Logs" %}</a></li>
	    {% endif %}
	    {% endifplugininstalled %}
	    {% ifplugininstalled "status" %}
	    {% if obj_perms.plugin.viewstatus %}
	    {% serverurl status:home as url_nav_status %}
	    <li class="{% current_nav url_nav_status %}"><a href="{{ url_nav_status }}">{% trans "Status" %}</a>
	    {% include "status/status_menu.html" %}
	    </li>
	    {% endif %}
	    {% endifplugininstalled %}
	    {% if obj_perms.portal.rcon %}
	    {% serverurl rcon:home as url_nav_admin %}
	    <li class="{% current_nav url_nav_admin %}"><a href="{{ url_nav_admin }}">{% trans "RCon" %}</a></li>
	    {% endif %}
        <li style="float: right; margin-right: 45px;">
		  {% if user.is_authenticated %}
		  {% with user.username as name %}
		  <a alt="span">{% blocktrans %}Welcome {{name}}{% endblocktrans %} {% gravatar user.email "avatar" 18 %}</a>
		  {% endwith %}
		  <ul class="subnav">
		  	{% if request.user.is_superuser or request.user.owned_servers.all %}
		  	<li><a href="{% url server:home %}">{% trans "My Servers" %}</a></li>
		  	{% endif %}
		  	{% if not request.user.is_external %}
		  	<li><a href="{% url account_update_password %}">{% trans "Change password" %}</a></li>
		  	{% endif %}
		  	<li><a class="logout" href="{% url auth_logout %}">{% trans "Sign out" %}</a></li>
		  </ul>
		  {% else %}
		  <div class="loginbar">
		  	<form id="login" method="post" accept-charset="utf-8" action="{% url user_signin %}">
		  	<small>
			{% csrf_token %}
          	<input type="text" id="id_username" name="username" maxlength="30" placeholder="{% trans "Username" %}" autocomplete="on" title="{% trans "Username" %}" value="">
          	<input type="password" name="password" id="id_password" title="{% trans "Password" %}" placeholder="{% trans "Password" %}" value="">
			<input type="submit" value="{% trans "Sign in" %}"/>
			</small>
			</form>
		  </div>
		  {% endif %}
		</li>
    </ul>
{% endblock %}																																																																																																																																																