{% extends "base.html" %}
{% load i18n settingstag %}
{% block main_page %}
<div id="main">
    <div id="header">
    	{% block main_header %}
		{% endblock %}
    </div>
    <div id="navigation">
        <div id="nav-active-indicator"></div>
        {% block navigation %}
        {% endblock %}
    </div>
    <div id="main_content">
    	{% block main_content_wrapper %}
        <div id="content_header">
        	{% block main_content_header %}
        	{% endblock %}
        </div>
        <div id="content" class="clearfix">
			<div id="message_teaser">
			{% include "messages.html" %}
			</div>
			{% block main_content %}
			{% endblock %}
        </div>
        {% endblock %}
		<div id="footer">
		{% block footer %}Regeer v{% setting "VERSION" %} - Copyright &copy; 2010-{% now "Y" %} SGT Development{% endblock %}
		</div>
    </div>
    <div class="clear">&#160;</div>
	<!-- begin: #footer -->
</div>

{% endblock %}																																																																																																																																																						
