{% load i18n settingstag media %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>
<title>{% block title %}{% setting "SITE_NAME" %}{% endblock %}</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link type="image/x-icon" href="{% media 'favicon.ico' %}" rel="icon" />
<link type="image/x-icon" href="{% media 'favicon.ico' %}" rel="shortcut icon" />

<script type="text/javascript">
var MEDIA_URL='{% setting "MEDIA_URL" %}';
</script>
{% jscript "js/jquery-1.4.4.min.js" %}
{% jscript "js/jquery.dropdown.js" %}
{% jscript "menu/menu.js" %}
{% jscript "js/base.js" %}
{% style "css/styles.css" %}
<!--[if lte IE 7]>
{% style "css/layout_patch.css" %}
{% style "css/site/layout_ie.css" %}
<![endif]-->
{% block extra_header %}
{% endblock %}
</head>
<body>
  <div id="loading"></div>
   {% block main_page %}{% endblock %}
</body>
</html>
																																																																																																																																																						