#server-content {
	float: right;
	overflow:hidden;
	width: 780px;
}
#server-nav, #server-nav dt, #server-nav dd, #server-nav ul, #server-nav li {
	margin: 0;
	padding: 0;
}
#server-nav {
	width: 150px;
	float: left;
	margin-top: 5px;
}
#server-nav ul {
	list-style: none outside none;
}
#server-nav li {
    font-size: 11px;
    margin: 3px 0;
    padding: 0 10px 0 0;
}
#server-nav li a {
	display: block;
	text-decoration: none;
	border-bottom: 1px dotted #B3B3B3;
	padding: 1px 8px 4px;
}
#server-nav li.active {
	background: url("../images/ontile.gif") repeat-x scroll left center transparent;
	padding: 0;
}
#server-nav li a:hover {
	background-color: #f6f6f6;
}
#server-nav li.active a {
    background: url("../images/rarrowactive.gif") no-repeat scroll right center transparent;
    border: 0 none;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-left: -10px;
    padding-left: 18px;
}
ul.plugin_list {
	list-style: none outside none;
}
.plugin_list span {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
}
.plugin_list span.plugin_enabled {
	background-image: url('../images/icons/bullet_green.png');
}
.plugin_list span.plugin_disabled {
	background-image: url('../images/icons/bullet_red.png');
}
ul.owners, ul.users {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.owners li, .users li {
	background-position:0 50%;
	background-repeat:no-repeat;
	padding:0 0 0 25px;	
}
.owners li {
	background-image: url('../images/icons/user_gray.png');
}
.users li {
	background-image: url('../images/icons/user.png');
}