.flag {
    border: none;
    height: 11px;
    width: 16px;
    padding-left: 16px;
	background: transparent url(../../images/flag/csg-flags.png) no-repeat 0 -525px;
}
.flag-blank{ background-position: 0 -525px; width: 16px; height: 11px; }
.flag-ad{ background-position: 0 0; width: 16px; height: 11px; } 
.flag-ae{ background-position: 0 -21px; width: 16px; height: 11px; } 
.flag-af{ background-position: 0 -42px; width: 16px; height: 11px; } 
.flag-ag{ background-position: 0 -63px; width: 16px; height: 11px; } 
.flag-ai{ background-position: 0 -84px; width: 16px; height: 11px; } 
.flag-al{ background-position: 0 -105px; width: 16px; height: 11px; } 
.flag-am{ background-position: 0 -126px; width: 16px; height: 11px; } 
.flag-an{ background-position: 0 -147px; width: 16px; height: 11px; } 
.flag-ao{ background-position: 0 -168px; width: 16px; height: 11px; } 
.flag-ar{ background-position: 0 -189px; width: 16px; height: 11px; } 
.flag-as{ background-position: 0 -210px; width: 16px; height: 11px; } 
.flag-at{ background-position: 0 -231px; width: 16px; height: 11px; } 
.flag-au{ background-position: 0 -252px; width: 16px; height: 11px; } 
.flag-aw{ background-position: 0 -273px; width: 16px; height: 11px; } 
.flag-ax{ background-position: 0 -294px; width: 16px; height: 11px; } 
.flag-az{ background-position: 0 -315px; width: 16px; height: 11px; } 
.flag-ba{ background-position: 0 -336px; width: 16px; height: 11px; } 
.flag-bb{ background-position: 0 -357px; width: 16px; height: 11px; } 
.flag-bd{ background-position: 0 -378px; width: 16px; height: 11px; } 
.flag-be{ background-position: 0 -399px; width: 16px; height: 11px; } 
.flag-bf{ background-position: 0 -420px; width: 16px; height: 11px; } 
.flag-bg{ background-position: 0 -441px; width: 16px; height: 11px; } 
.flag-bh{ background-position: 0 -462px; width: 16px; height: 11px; } 
.flag-bi{ background-position: 0 -483px; width: 16px; height: 11px; } 
.flag-bj{ background-position: 0 -504px; width: 16px; height: 11px; } 
.flag-bm{ background-position: 0 -546px; width: 16px; height: 11px; } 
.flag-bn{ background-position: 0 -567px; width: 16px; height: 11px; } 
.flag-bo{ background-position: 0 -588px; width: 16px; height: 11px; } 
.flag-br{ background-position: 0 -609px; width: 16px; height: 11px; } 
.flag-bs{ background-position: 0 -630px; width: 16px; height: 11px; } 
.flag-bt{ background-position: 0 -651px; width: 16px; height: 11px; } 
.flag-bv{ background-position: 0 -672px; width: 16px; height: 11px; } 
.flag-bw{ background-position: 0 -693px; width: 16px; height: 11px; } 
.flag-by{ background-position: 0 -714px; width: 16px; height: 11px; } 
.flag-bz{ background-position: 0 -735px; width: 16px; height: 11px; } 
.flag-ca{ background-position: 0 -756px; width: 16px; height: 11px; } 
.flag-catalonia{ background-position: 0 -777px; width: 16px; height: 11px; } 
.flag-cc{ background-position: 0 -798px; width: 16px; height: 11px; } 
.flag-cd{ background-position: 0 -819px; width: 16px; height: 11px; } 
.flag-cf{ background-position: 0 -840px; width: 16px; height: 11px; } 
.flag-cg{ background-position: 0 -861px; width: 16px; height: 11px; } 
.flag-ch{ background-position: 0 -882px; width: 11px; height: 11px; } 
.flag-ci{ background-position: 0 -903px; width: 16px; height: 11px; } 
.flag-ck{ background-position: 0 -924px; width: 16px; height: 11px; } 
.flag-cl{ background-position: 0 -945px; width: 16px; height: 11px; } 
.flag-cm{ background-position: 0 -966px; width: 16px; height: 11px; } 
.flag-cn{ background-position: 0 -987px; width: 16px; height: 11px; } 
.flag-co{ background-position: 0 -1008px; width: 16px; height: 11px; } 
.flag-cr{ background-position: 0 -1029px; width: 16px; height: 11px; } 
.flag-cs{ background-position: 0 -1050px; width: 16px; height: 11px; } 
.flag-cu{ background-position: 0 -1071px; width: 16px; height: 11px; } 
.flag-cv{ background-position: 0 -1092px; width: 16px; height: 11px; } 
.flag-cx{ background-position: 0 -1113px; width: 16px; height: 11px; } 
.flag-cy{ background-position: 0 -1134px; width: 16px; height: 11px; } 
.flag-cz{ background-position: 0 -1155px; width: 16px; height: 11px; } 
.flag-de{ background-position: 0 -1176px; width: 16px; height: 11px; } 
.flag-dj{ background-position: 0 -1197px; width: 16px; height: 11px; } 
.flag-dk{ background-position: 0 -1218px; width: 16px; height: 11px; } 
.flag-dm{ background-position: 0 -1239px; width: 16px; height: 11px; } 
.flag-do{ background-position: 0 -1260px; width: 16px; height: 11px; } 
.flag-dz{ background-position: 0 -1281px; width: 16px; height: 11px; } 
.flag-ec{ background-position: 0 -1302px; width: 16px; height: 11px; } 
.flag-ee{ background-position: 0 -1323px; width: 16px; height: 11px; } 
.flag-eg{ background-position: 0 -1344px; width: 16px; height: 11px; } 
.flag-eh{ background-position: 0 -1365px; width: 16px; height: 11px; } 
.flag-england{ background-position: 0 -1386px; width: 16px; height: 11px; } 
.flag-er{ background-position: 0 -1407px; width: 16px; height: 11px; } 
.flag-es{ background-position: 0 -1428px; width: 16px; height: 11px; } 
.flag-et{ background-position: 0 -1449px; width: 16px; height: 11px; } 
.flag-europeanunion{ background-position: 0 -1470px; width: 16px; height: 11px; } 
.flag-fam{ background-position: 0 -1491px; width: 16px; height: 11px; } 
.flag-fi{ background-position: 0 -1512px; width: 16px; height: 11px; } 
.flag-fj{ background-position: 0 -1533px; width: 16px; height: 11px; } 
.flag-fk{ background-position: 0 -1554px; width: 16px; height: 11px; } 
.flag-fm{ background-position: 0 -1575px; width: 16px; height: 11px; } 
.flag-fo{ background-position: 0 -1596px; width: 16px; height: 11px; } 
.flag-fr{ background-position: 0 -1617px; width: 16px; height: 11px; } 
.flag-ga{ background-position: 0 -1638px; width: 16px; height: 11px; } 
.flag-gb{ background-position: 0 -1659px; width: 16px; height: 11px; } 
.flag-gd{ background-position: 0 -1680px; width: 16px; height: 11px; } 
.flag-ge{ background-position: 0 -1701px; width: 16px; height: 11px; } 
.flag-gf{ background-position: 0 -1722px; width: 16px; height: 11px; } 
.flag-gh{ background-position: 0 -1743px; width: 16px; height: 11px; } 
.flag-gi{ background-position: 0 -1764px; width: 16px; height: 11px; } 
.flag-gl{ background-position: 0 -1785px; width: 16px; height: 11px; } 
.flag-gm{ background-position: 0 -1806px; width: 16px; height: 11px; } 
.flag-gn{ background-position: 0 -1827px; width: 16px; height: 11px; } 
.flag-gp{ background-position: 0 -1848px; width: 16px; height: 11px; } 
.flag-gq{ background-position: 0 -1869px; width: 16px; height: 11px; } 
.flag-gr{ background-position: 0 -1890px; width: 16px; height: 11px; } 
.flag-gs{ background-position: 0 -1911px; width: 16px; height: 11px; } 
.flag-gt{ background-position: 0 -1932px; width: 16px; height: 11px; } 
.flag-gu{ background-position: 0 -1953px; width: 16px; height: 11px; } 
.flag-gw{ background-position: 0 -1974px; width: 16px; height: 11px; } 
.flag-gy{ background-position: -26px 0; width: 16px; height: 11px; } 
.flag-hk{ background-position: -26px -21px; width: 16px; height: 11px; } 
.flag-hm{ background-position: -26px -42px; width: 16px; height: 11px; } 
.flag-hn{ background-position: -26px -63px; width: 16px; height: 11px; } 
.flag-hr{ background-position: -26px -84px; width: 16px; height: 11px; } 
.flag-ht{ background-position: -26px -105px; width: 16px; height: 11px; } 
.flag-hu{ background-position: -26px -126px; width: 16px; height: 11px; } 
.flag-id{ background-position: -26px -147px; width: 16px; height: 11px; } 
.flag-ie{ background-position: -26px -168px; width: 16px; height: 11px; } 
.flag-il{ background-position: -26px -189px; width: 16px; height: 11px; } 
.flag-in{ background-position: -26px -210px; width: 16px; height: 11px; } 
.flag-io{ background-position: -26px -231px; width: 16px; height: 11px; } 
.flag-iq{ background-position: -26px -252px; width: 16px; height: 11px; } 
.flag-ir{ background-position: -26px -273px; width: 16px; height: 11px; } 
.flag-is{ background-position: -26px -294px; width: 16px; height: 11px; } 
.flag-it{ background-position: -26px -315px; width: 16px; height: 11px; } 
.flag-jm{ background-position: -26px -336px; width: 16px; height: 11px; } 
.flag-jo{ background-position: -26px -357px; width: 16px; height: 11px; } 
.flag-jp{ background-position: -26px -378px; width: 16px; height: 11px; } 
.flag-ke{ background-position: -26px -399px; width: 16px; height: 11px; } 
.flag-kg{ background-position: -26px -420px; width: 16px; height: 11px; } 
.flag-kh{ background-position: -26px -441px; width: 16px; height: 11px; } 
.flag-ki{ background-position: -26px -462px; width: 16px; height: 11px; } 
.flag-km{ background-position: -26px -483px; width: 16px; height: 11px; } 
.flag-kn{ background-position: -26px -504px; width: 16px; height: 11px; } 
.flag-kp{ background-position: -26px -525px; width: 16px; height: 11px; } 
.flag-kr{ background-position: -26px -546px; width: 16px; height: 11px; } 
.flag-kw{ background-position: -26px -567px; width: 16px; height: 11px; } 
.flag-ky{ background-position: -26px -588px; width: 16px; height: 11px; } 
.flag-kz{ background-position: -26px -609px; width: 16px; height: 11px; } 
.flag-la{ background-position: -26px -630px; width: 16px; height: 11px; } 
.flag-lb{ background-position: -26px -651px; width: 16px; height: 11px; } 
.flag-lc{ background-position: -26px -672px; width: 16px; height: 11px; } 
.flag-li{ background-position: -26px -693px; width: 16px; height: 11px; } 
.flag-lk{ background-position: -26px -714px; width: 16px; height: 11px; } 
.flag-lr{ background-position: -26px -735px; width: 16px; height: 11px; } 
.flag-ls{ background-position: -26px -756px; width: 16px; height: 11px; } 
.flag-lt{ background-position: -26px -777px; width: 16px; height: 11px; } 
.flag-lu{ background-position: -26px -798px; width: 16px; height: 11px; } 
.flag-lv{ background-position: -26px -819px; width: 16px; height: 11px; } 
.flag-ly{ background-position: -26px -840px; width: 16px; height: 11px; } 
.flag-ma{ background-position: -26px -861px; width: 16px; height: 11px; } 
.flag-mc{ background-position: -26px -882px; width: 16px; height: 11px; } 
.flag-md{ background-position: -26px -903px; width: 16px; height: 11px; } 
.flag-me{ background-position: -26px -924px; width: 16px; height: 12px; } 
.flag-mg{ background-position: -26px -946px; width: 16px; height: 11px; } 
.flag-mh{ background-position: -26px -967px; width: 16px; height: 11px; } 
.flag-mk{ background-position: -26px -988px; width: 16px; height: 11px; } 
.flag-ml{ background-position: -26px -1009px; width: 16px; height: 11px; } 
.flag-mm{ background-position: -26px -1030px; width: 16px; height: 11px; } 
.flag-mn{ background-position: -26px -1051px; width: 16px; height: 11px; } 
.flag-mo{ background-position: -26px -1072px; width: 16px; height: 11px; } 
.flag-mp{ background-position: -26px -1093px; width: 16px; height: 11px; } 
.flag-mq{ background-position: -26px -1114px; width: 16px; height: 11px; } 
.flag-mr{ background-position: -26px -1135px; width: 16px; height: 11px; } 
.flag-ms{ background-position: -26px -1156px; width: 16px; height: 11px; } 
.flag-mt{ background-position: -26px -1177px; width: 16px; height: 11px; } 
.flag-mu{ background-position: -26px -1198px; width: 16px; height: 11px; } 
.flag-mv{ background-position: -26px -1219px; width: 16px; height: 11px; } 
.flag-mw{ background-position: -26px -1240px; width: 16px; height: 11px; } 
.flag-mx{ background-position: -26px -1261px; width: 16px; height: 11px; } 
.flag-my{ background-position: -26px -1282px; width: 16px; height: 11px; } 
.flag-mz{ background-position: -26px -1303px; width: 16px; height: 11px; } 
.flag-na{ background-position: -26px -1324px; width: 16px; height: 11px; } 
.flag-nc{ background-position: -26px -1345px; width: 16px; height: 11px; } 
.flag-ne{ background-position: -26px -1366px; width: 16px; height: 11px; } 
.flag-nf{ background-position: -26px -1387px; width: 16px; height: 11px; } 
.flag-ng{ background-position: -26px -1408px; width: 16px; height: 11px; } 
.flag-ni{ background-position: -26px -1429px; width: 16px; height: 11px; } 
.flag-nl{ background-position: -26px -1450px; width: 16px; height: 11px; } 
.flag-no{ background-position: -26px -1471px; width: 16px; height: 11px; } 
.flag-np{ background-position: -26px -1492px; width: 9px; height: 11px; } 
.flag-nr{ background-position: -26px -1513px; width: 16px; height: 11px; } 
.flag-nu{ background-position: -26px -1534px; width: 16px; height: 11px; } 
.flag-nz{ background-position: -26px -1555px; width: 16px; height: 11px; } 
.flag-om{ background-position: -26px -1576px; width: 16px; height: 11px; } 
.flag-pa{ background-position: -26px -1597px; width: 16px; height: 11px; } 
.flag-pe{ background-position: -26px -1618px; width: 16px; height: 11px; } 
.flag-pf{ background-position: -26px -1639px; width: 16px; height: 11px; } 
.flag-pg{ background-position: -26px -1660px; width: 16px; height: 11px; } 
.flag-ph{ background-position: -26px -1681px; width: 16px; height: 11px; } 
.flag-pk{ background-position: -26px -1702px; width: 16px; height: 11px; } 
.flag-pl{ background-position: -26px -1723px; width: 16px; height: 11px; } 
.flag-pm{ background-position: -26px -1744px; width: 16px; height: 11px; } 
.flag-pn{ background-position: -26px -1765px; width: 16px; height: 11px; } 
.flag-pr{ background-position: -26px -1786px; width: 16px; height: 11px; } 
.flag-ps{ background-position: -26px -1807px; width: 16px; height: 11px; } 
.flag-pt{ background-position: -26px -1828px; width: 16px; height: 11px; } 
.flag-pw{ background-position: -26px -1849px; width: 16px; height: 11px; } 
.flag-py{ background-position: -26px -1870px; width: 16px; height: 11px; } 
.flag-qa{ background-position: -26px -1891px; width: 16px; height: 11px; } 
.flag-re{ background-position: -26px -1912px; width: 16px; height: 11px; } 
.flag-ro{ background-position: -26px -1933px; width: 16px; height: 11px; } 
.flag-rs{ background-position: -26px -1954px; width: 16px; height: 11px; } 
.flag-ru{ background-position: -26px -1975px; width: 16px; height: 11px; } 
.flag-rw{ background-position: -52px 0; width: 16px; height: 11px; } 
.flag-sa{ background-position: -52px -21px; width: 16px; height: 11px; } 
.flag-sb{ background-position: -52px -42px; width: 16px; height: 11px; } 
.flag-sc{ background-position: -52px -63px; width: 16px; height: 11px; } 
.flag-scotland{ background-position: -52px -84px; width: 16px; height: 11px; } 
.flag-sd{ background-position: -52px -105px; width: 16px; height: 11px; } 
.flag-se{ background-position: -52px -126px; width: 16px; height: 11px; } 
.flag-sg{ background-position: -52px -147px; width: 16px; height: 11px; } 
.flag-sh{ background-position: -52px -168px; width: 16px; height: 11px; } 
.flag-si{ background-position: -52px -189px; width: 16px; height: 11px; } 
.flag-sj{ background-position: -52px -210px; width: 16px; height: 11px; } 
.flag-sk{ background-position: -52px -231px; width: 16px; height: 11px; } 
.flag-sl{ background-position: -52px -252px; width: 16px; height: 11px; } 
.flag-sm{ background-position: -52px -273px; width: 16px; height: 11px; } 
.flag-sn{ background-position: -52px -294px; width: 16px; height: 11px; } 
.flag-so{ background-position: -52px -315px; width: 16px; height: 11px; } 
.flag-sr{ background-position: -52px -336px; width: 16px; height: 11px; } 
.flag-st{ background-position: -52px -357px; width: 16px; height: 11px; } 
.flag-sv{ background-position: -52px -378px; width: 16px; height: 11px; } 
.flag-sy{ background-position: -52px -399px; width: 16px; height: 11px; } 
.flag-sz{ background-position: -52px -420px; width: 16px; height: 11px; } 
.flag-tc{ background-position: -52px -441px; width: 16px; height: 11px; } 
.flag-td{ background-position: -52px -462px; width: 16px; height: 11px; } 
.flag-tf{ background-position: -52px -483px; width: 16px; height: 11px; } 
.flag-tg{ background-position: -52px -504px; width: 16px; height: 11px; } 
.flag-th{ background-position: -52px -525px; width: 16px; height: 11px; } 
.flag-tj{ background-position: -52px -546px; width: 16px; height: 11px; } 
.flag-tk{ background-position: -52px -567px; width: 16px; height: 11px; } 
.flag-tl{ background-position: -52px -588px; width: 16px; height: 11px; } 
.flag-tm{ background-position: -52px -609px; width: 16px; height: 11px; } 
.flag-tn{ background-position: -52px -630px; width: 16px; height: 11px; } 
.flag-to{ background-position: -52px -651px; width: 16px; height: 11px; } 
.flag-tr{ background-position: -52px -672px; width: 16px; height: 11px; } 
.flag-tt{ background-position: -52px -693px; width: 16px; height: 11px; } 
.flag-tv{ background-position: -52px -714px; width: 16px; height: 11px; } 
.flag-tw{ background-position: -52px -735px; width: 16px; height: 11px; } 
.flag-tz{ background-position: -52px -756px; width: 16px; height: 11px; } 
.flag-ua{ background-position: -52px -777px; width: 16px; height: 11px; } 
.flag-ug{ background-position: -52px -798px; width: 16px; height: 11px; } 
.flag-um{ background-position: -52px -819px; width: 16px; height: 11px; } 
.flag-us{ background-position: -52px -840px; width: 16px; height: 11px; } 
.flag-uy{ background-position: -52px -861px; width: 16px; height: 11px; } 
.flag-uz{ background-position: -52px -882px; width: 16px; height: 11px; } 
.flag-va{ background-position: -52px -903px; width: 16px; height: 11px; } 
.flag-vc{ background-position: -52px -924px; width: 16px; height: 11px; } 
.flag-ve{ background-position: -52px -945px; width: 16px; height: 11px; } 
.flag-vg{ background-position: -52px -966px; width: 16px; height: 11px; } 
.flag-vi{ background-position: -52px -987px; width: 16px; height: 11px; } 
.flag-vn{ background-position: -52px -1008px; width: 16px; height: 11px; } 
.flag-vu{ background-position: -52px -1029px; width: 16px; height: 11px; } 
.flag-wales{ background-position: -52px -1050px; width: 16px; height: 11px; } 
.flag-wf{ background-position: -52px -1071px; width: 16px; height: 11px; } 
.flag-ws{ background-position: -52px -1092px; width: 16px; height: 11px; } 
.flag-ye{ background-position: -52px -1113px; width: 16px; height: 11px; } 
.flag-yt{ background-position: -52px -1134px; width: 16px; height: 11px; } 
.flag-za{ background-position: -52px -1155px; width: 16px; height: 11px; } 
.flag-zm{ background-position: -52px -1176px; width: 16px; height: 11px; } 
.flag-zw{ background-position: -52px -1197px; width: 16px; height: 11px; } 



