{% extends "admin/base.html" %}
{% load i18n settingstag %}
{% block extrastyle %}
{{ block.super }}
<style type="text/css">
<!--
#header {
    background: #222;
    background: -moz-linear-gradient(center top , #333333, #111111) repeat scroll 0 0 transparent;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    color:#FFFFCC;
    overflow:hidden;
}
.module h2, .module caption, .inline-group h2 {
    background: #222;
    background: -moz-linear-gradient(center top , #333333, #111111) repeat scroll 0 0 transparent;
    color: white;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 2px 5px 3px;
    text-align: left;
}
-->
</style>
{% endblock %}

{% block title %}{{ title }} | {% setting "SITE_NAME" as site %}{%blocktrans%}{{site}} Admin{%endblocktrans%}{% endblock %}

{% block branding %}
<h1 id="site-name">{% setting "SITE_NAME" as site %}{%blocktrans%}{{site}} Admin{%endblocktrans%}</h1>
{% endblock %}

{% block userlinks %}<a href="{% url home %}">{% trans 'Site Index' %}</a> / {{block.super}}{% endblock %}

{% block nav-global %}{% endblock %}
