{% load i18n %}
<div class="pagination">
    <span class="step-links">
        {% if data.has_previous %}
        <span class="prev">
            <a class="prev-first" href="{{params}}page=1">{% trans "&laquo; first" %}</a>
            <a class="prev-prev" href="{{params}}page={{ data.previous_page_number }}">{% trans "previous" %}</a>
        </span>
        {% endif %}
        <span class="current">
            {% with data.number as page_number %}
	            {% with data.paginator.num_pages as num_pages %}
	           	 {% blocktrans %}Page {{page_number}} of {{num_pages}}{%endblocktrans%}
	            {% endwith %}
            {% endwith %}
        </span>
        {% if data.has_next %}
        <span class="next">
            <a class="next-next" href="{{params}}page={{ data.next_page_number }}">{% trans "next" %}</a>
            <a class="next-last" href="{{params}}page={{ data.paginator.num_pages }}">{% trans "last &raquo;" %}</a>
        </span>
        {% endif %}
    </span>
</div>