{% load i18n %}
{% if data == name %}
	{% if order == "a" %}
	    <span class="{{style}}">&nbsp;</span>
	    <a class="{{style}}_desc" href="{{url}}desc" title="{% trans "Sort descending" %}">&nbsp;</a>
	{% else %}
	    <a class="{{style}}_asc" href="{{url}}asc" title="{% trans "Sort ascending" %}">&nbsp;</a>
	    <span class="{{style}}">&nbsp;</span> 
	{% endif %}
{% else %}
	<a class="{{style}}_asc" href="{{url}}asc" title="{% trans "Sort ascending" %}">&nbsp;</a>
	<a class="{{style}}_desc" href="{{url}}desc" title="{% trans "Sort descending" %}">&nbsp;</a>
{% endif %}