{% extends "base_layout.html" %}
{% load listtocolumns i18n tagutils settingstag paginator navigation urltag %}
{% block title %}{{ block.super }} | {% trans "Banned Players" %}{% endblock %}
{% block main_content_header %}
<h3>{% trans "Banned Players" %}</h3>
<span>
{% blocktrans count counter=ban_list.paginator.count %}
(found {{counter}} active ban)
{% plural %}
(found {{counter}} active bans)
{% endblocktrans %}
</span>
<div class="header-right">
<small>
{% include "b3portal/server_form.html" %}
</small>
</div>
{% endblock %}
{% block main_content %}
<form method="get" action="{% url ban_list %}">
<small>
<input type="hidden" name="server" value="{{request.server}}">
<label for="name">{% trans "Name" %}</label><input type="text" id="name" name="name" class="search submit">
<input type="submit" name="search" value="{% trans "Search" %}">&nbsp;&nbsp;&nbsp;
</small>
</form>
<div id="ban_list">
{% if search %}
<a href="{% url ban_list %}?{{search}}">{% trans "Direct link to this search" %}</a>
{% endif %}
<table class="table-style">
<thead>
<tr>
<th>{% trans "Player" %}</th>
<th>{% trans "Added" %}</th>
<th>{% trans "Expires" %}</th>
<th>{% trans "Reason" %}</th>
</tr>
</thead>
<tbody>
{% for ban in ban_list.object_list %}
<tr class="{% cycle "odd" "even" %}">
<td><a href="{% serverurl client_detail ban.client.id %}">{{ban.client.name}}</a></td>
<td>{{ban.time_add|date:"DATETIME_FORMAT"}}</td>
<td>{% if ban.duration != 0 %}{{ban.time_expire|date:"DATETIME_FORMAT"}}{%else%}<span style="color:red;">{% trans "Permanent" %}</span>{%endif%}</td>
<td {% if ban.display_data and obj_perms.portal.listpenalties %}class="simple_icon icon_info notice_tip" title="{{ban.display_data|clean_colors}}" {%endif%}>
<p class="wordwrap" style="width: 390px;">
{% if obj_perms.portal.listpenalties %}
{{ban.reason|clean_colors}}
{% else %}
{% ifsetting "ANOM_HIDE_REASON" %}
-
{% else %}
{{ban.reason|clean_colors}}
{% endifsetting %}
{% endif %}
</p>
</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
<tr>
<td colspan="5">
{% with ban_list.object_list|length as number %}
{% blocktrans %}Showing {{number}} records{% endblocktrans %}
{% endwith %}
{% paginatepage ban_list search %}
</td>
</tr>
</tfoot>
</table>

</div>
{% endblock %}
