{% load i18n navigation urltag %}
{% if user.is_authenticated %}
<ul class="subnav">
{% serverurl banned_world_map as url_nav_map %}
{% serverurl admin_kicks as url_nav_kicks %}
{% serverurl penalty_list as url_nav_penalties %}
{% serverurl notice_list as url_nav_notices %}
<li id="{% current_nav url_nav_map current2 %}"><a href="{{url_nav_map}}">{% trans "World Map" %}</a></li>
{% if obj_perms.portal.listpenalties %}
<li id="{% current_nav url_nav_kicks current2 %}"><a href="{{url_nav_kicks}}">{% trans "Admin Kicks" %}</a></li>
<li id="{% current_nav url_nav_penalties current2 %}"><a href="{{url_nav_penalties}}">{% trans "B3 Penalties" %}</a></li>
<li id="{% current_nav url_nav_notices current2 %}"><a href="{{url_nav_notices}}">{% trans "Notices" %}</a></li>
{% endif %}
</ul>
{% endif %}