{% extends "base_layout.html" %}
{% load listtocolumns i18n tagutils settingstag paginator navigation urltag %}
{% block main_content %}
<h3>{% trans "Admin Kicks" %}</h3>
{% with ban_list.paginator.count as count %}
<span>{% blocktrans %}There are {{count}} kicks that have been added by admins{%endblocktrans%}
<small>
{% with 'portal.listpenalties' as checkperm %}
{% include "b3portal/server_form.html" %}
{% endwith %}
</small>
</span>
{% endwith %}
<div id="ban_list">
<table class="table-style">
<thead>
<tr>
<th>{% trans "Player" %}</th>
<th>{% trans "Kicked At" %}</th>
<th>{% trans "Reason" %}</th>
<th>{% trans "Admin" %}</th>
</tr>
</thead>
<tbody>
{% for penalty in ban_list.object_list %}
<tr class="{% cycle "odd" "even" %}">
<td><a href="{% serverurl client_detail penalty.client.id %}">{{penalty.client.name}}</a></td>
<td>{{penalty.time_add|date:"D, d M Y (H:i)"}}</td>
<td>{{penalty.reason|clean_colors}}</td>
<td><a href="{% serverurl client_detail penalty.admin.id %}">{{penalty.admin.name}}</a></td>
</tr>
{% endfor %}
</tbody>
<tfoot>
<tr>
<td colspan="5">
{% with ban_list.object_list|length as number %}
{% blocktrans %}Showing {{number}} records{% endblocktrans %}
{% endwith %}
{% paginatepage ban_list %}
</td>
</tr>
</tfoot>
</table>
</div>
{% endblock %}