{% extends "base_layout.html" %}
{% load listtocolumns i18n tagutils settingstag paginator navigation urltag %}
{% block title %}{{ block.super }} | {% trans "Notices" %}{% endblock %}
{% block main_content_header %}
<h3>{% trans "Notices" %}</h3>

<span>
{% blocktrans count counter=ban_list.paginator.count %}
(there is {{counter}} notice)
{% plural %}
(there are {{counter}} notices)
{% endblocktrans %}
</span>

<div class="header-right">
<small>
{% with 'portal.listpenalties' as checkperm %}
{% include "b3portal/server_form.html" %}
{% endwith %}
</small>
</div>

{% endblock %}
{% block main_content %}
<div id="ban_list">
<table class="table-style">
<thead>
<tr>
<th>{% trans "Player" %}</th>
<th>{% trans "Added" %}</th>
<th>{% trans "Reason" %}</th>
<th>{% trans "Admin" %}</th>
</tr>
</thead>
<tbody>
{% for penalty in ban_list.object_list %}
<tr class="{% cycle "odd" "even" %}">
<td><a href="{% serverurl client_detail penalty.client.id %}">{{penalty.client.name}}</a></td>
<td>{{penalty.time_add|date:"DATETIME_FORMAT"}}</td>
<td><p class="wordwrap" style="width: 400px;">{{penalty.reason|clean_colors}}</p></td>
<td>{% if penalty.admin and penalty.admin_id > 0 %}<a href="{% serverurl client_detail penalty.admin.id %}">{{penalty.admin.name}}</a>{% else %}{% if penalty.admin_username %}{{penalty.admin_username}}{%else%}-B3{%endif%}{%endif%}</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
<tr>
<td colspan="4">
{% with ban_list.object_list|length as number %}
{% blocktrans %}Showing {{number}} records{% endblocktrans %}
{% endwith %}
{% paginatepage ban_list %}
</td>
</tr>
</tfoot>
</table>
</div>
{% endblock %}