{% extends "base_layout.html" %}
{% load i18n media navigation %}
{% block navigation2 %}
{% url admin_ban_list as url_nav_banlist %}
<li id="{% current_nav url_nav_banlist current2 %}"><a href="{{url_nav_banlist}}">{% trans "Ban List" %}</a></li>
{% endblock %}
{% block main_content %}
<h3>{% trans "Server Ban List" %}
<small>
    &nbsp;|&nbsp;
	{% include "b3portal/server_form.html" %}
</small>  
</h3>
<form method="post">
{% csrf_token %}
<label for="addip">{% trans "Add IP" %}</label>
<input type="text" id="addip" name="addip">
<input type="submit" value="{% trans "Add/Remove selected" %}">
<div id="ipbanlist">
<table class="table-style">
<tr>
<th>{% trans "IP Address"%}</th>
<th><input type="checkbox" class="boxselect" alt="ip" title="{% trans "Select/Un-select All" %}"></th>
</tr>
{% for ip in list %}
<tr>
<td>{{ip}}</td><td><input type="checkbox" name="ip" value="{{ip}}"></td>
</tr>
{% endfor %}
</table>
</form>
</div>
{% endblock %}