{% extends "base_layout.html" %}
{% load i18n tagutils settingstag extendedtags geoip urltag plugintag gametag %}
{% block title %}{{ block.super }} | RCON{% endblock %}
{% block extra_header %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/rcadmin.css"/>
<script type="text/javascript" src="{{STATIC_URL}}js/date.format.js"></script>
<script type="text/javascript">
function send_command(cmd, value) {
	if(typeof value === "undefined") {
		value = 'None';
		st = cmd;
	} else {
		st = cmd + " " + value;
	}
	update_console('{% trans "Send" %} ' + st);
	$.post('{% serverurl rcon:command %}', {cmd: cmd, data: value}, function(data) {
		if (data.success) {
			update_console(data.response);	
		} else {
			update_console_error(data.response);
		}
		$("#console").prop({ scrollTop: $("#console").prop("scrollHeight") });
	});
}
function getCurrentTime() {
	var d = new Date();
	return d.format("HH:MM:ss");
}
function update_console_error(txt) {
	$('#console').append("<span class='console_error'>" + getCurrentTime() + " - " + txt + "</span><br/>");
}
function update_console(txt) {
	$('#console').append(getCurrentTime() + " - " + txt + "<br/>");
}
function get_status() {
	$.post('{% serverurl rcon:status %}', function(data) {
  		$('#game-status').html(data);
	});
}
$(document).ready(function() {
	$("input[name=command]").click(function() {
		var ref = $(this).attr('alt');
		var elrf = $("#"+ref);
		send_command(elrf.attr('name'), elrf.val());
	});
	get_status();
	update_console('{% trans "Ready." %}');
});
</script>
{% endblock %}
{% block main_content_header %}
<h3>{% blocktrans with server=request.server_obj.name %}RCON {{server}}{% endblocktrans %}</h3>
{% endblock %}
{% block main_content %}
<ul class="commands">
{{form.as_ul}}
</ul>
<span onclick="get_status()" class="nodecoration_icon icon_refresh" style="float: right; padding-bottom: 2px;" title="{% trans "Reload Status" %}">&nbsp;</span>
<div id="game-status"><p>{% trans "Requesting game status. Please wait ..." %}</p></div>
<div id="console"></div>
{% endblock %}
