{% load listtocolumns urltag i18n tagutils settingstag formtags %}
<h3>{% trans "Add Penalty" %}<small>  
{% with request.server as current_server %}
{% for server in request.server_list %}
{% if current_server == server.uuid %}{{server.name}}{%endif%}
{% endfor %}
{% endwith %}</small></h3>
<div class="centered_form">
<form method="post" action="{{url}}">
<fieldset>
<legend>{{client.id}} - {{client.name}}</legend>
{% csrf_token %}
{% as_form form %}
<input type="submit" name="save" value="{% trans "Save" %}" style="float: right;">&nbsp;&nbsp;
{% comment %}
<a href="{% serverurl client_detail client.id %}">{% trans "Cancel" %}</a>
{% endcomment %}
</fieldset>
</form>
</div>
<script type="text/javascript">
<!--
$('#id_time').on('keypress', function(e) {
    return ( e.which!=8 && e.which!=0 && (e.which<48 || e.which>57)) ? false : true ;
})
$('#id_permanent').on('change',function() {
    control_checkbox($(this));  
});
control_checkbox($('#id_permanent'));

//-->
</script>