{% extends "base_layout.html" %}
{% load listtocolumns urltag i18n tagutils settingstag formtags %}
{% block title %}{{ block.super }} | {{client.name}} | {% trans "Add Penalty" %}{% endblock %}
{% block extra_header %}
{{ block.super }}
<script type="text/javascript" src="{{STATIC_URL}}js/client.js"></script>
{% endblock %}
{% block main_content %}
<h3>{% trans "Add Penalty" %}<small>  
{% with request.server as current_server %}
{% for server in request.server_list %}
{% if current_server == server.uuid %}{{server.name}}{%endif%}
{% endfor %}
{% endwith %}</small></h3>
<div class="centered_form">
<form method="post">
<fieldset>
<legend>{{client.id}} - {{client.name}}</legend>
{% csrf_token %}
{% as_form form %}
<input type="submit" name="save" value="{% trans "Add" %}">&nbsp;&nbsp;
<a href="{% serverurl client_detail client.id %}">{% trans "Cancel" %}</a>
</fieldset>
</form>
</div>
{% endblock %}