{% extends "base_layout.html" %}
{% load urltag listtocolumns i18n tagutils settingstag paginator navigation %}
{% block title %}{{ block.super }} | {% trans "Admin List" %}{% endblock %}
{% block main_content_header %}
<h3>{% trans "Admin List" %}</h3>

<span>
{% blocktrans count counter=client_list.paginator.count %}
(there is {{counter}} admin)
{% plural %}
(there are {{counter}} admins)
{% endblocktrans %}
</span>

<div class="header-right">
<small>
{% with 'portal.viewclientgroup' as checkperm %}
{% include "b3portal/server_form.html" %}
{% endwith %}
</small>
</div>
{% endblock %}
{% block main_content %}
<div id="client_list">
<table class="table-style">
<thead>
<tr>
<th>{% trans "@id" %}</th>
<th>{% trans "Name" %}</th>
<th>{% trans "Group" %}</th>
<th>{% trans "IP Address" %}</th>
<th>{% trans "Last Seen" %}</th>
</tr>
</thead>
<tbody>
{% for client in client_list.object_list %}
<tr class="{% cycle "odd" "even" %}">
<td class="align-right"><a href="{% serverurl client_detail client.id %}">{{client.id}}</a></td>
<td name="autofill" alt="name">{{client.name}}</td>
<td class="level_row_{{client.group.level}}">{{client.displayGroup}}</td>
<td class="align-right" name="autofill" alt="ip">{{client.ip}}</td>
<td>{{client.time_edit|date:"DATETIME_FORMAT"}}</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
<tr>
<td colspan="5">
{% with client_list.object_list|length as number %}
{% blocktrans %}Showing {{number}} records{% endblocktrans %}
{% endwith %}
{% paginatepage client_list %}
</td>
</tr>
</tfoot>
</table>
</div>
{% endblock %}