{% extends "base_layout.html" %}
{% load i18n tagutils settingstag extendedtags geoip urltag plugintag gametag %}
{% block title %}{{ block.super }} | {{client.name}}{% endblock %}
{% block extra_header %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/actionmenu.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/clienttab.css"/>
<link rel="stylesheet" type="text/css" href="{% setting "UI_MEDIA_PATH" %}{% setting "UI_VERSION" %}/themes/{% setting "UI_THEME" %}/jquery-ui.min.css"/>
<style>
<!--
div#content_header {
	border-bottom: 0;
	height: 0;
}
-->
</style>
<script type="text/javascript" src="{% setting "UI_MEDIA_PATH" %}{% setting "UI_VERSION" %}/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.jeditable.mini.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jpages.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/client.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/clientdetail.js"></script>
<script type="text/javascript">
function update_portal_act() {
	$("#portal_actions").load('{% serverurl client_more_logs client.id %}');
}
function load_penalties() {
    $("#client_penalties").load('{% serverurl client_more_penalties client.id %}');
    update_portal_act()
}
function load_notices() {
    $("#client_notice").load('{% serverurl client_more_notices client.id %}');
    update_portal_act()
}
function note_update(data) {
	$.get('{% serverurl client_more_notes client.id %}',function(data) {
		$("#note_box > ul").prepend(data);
		try {
			$("#note_box_pages").jPages('destroy');
		} catch(er) {}
		create_note_pager();
	});
}
function create_note_pager() {
	if ($("li.note").length != 0) {
		$("#note_box_pages").jPages({
	        containerID  : "note_box-list",
	        perPage      : 1,
	        startPage    : 1,
	        startRange   : 1,
	        midRange     : 5,
	        endRange     : 1,
	        previous: '{% trans "previous" %}',
	        next: '{% trans "next" %}',
            callback: function(page, items) {
                var $obj = $('li.note:visible').find('.notecontent');
                $obj.prop('scrollTop', 0);
                if ($obj.prop('scrollHeight') > 40) {
                    $("#notescroll").show();
                } else {
                    $("#notescroll").hide();
                }
            }
		});	
	}
}
$(document).ready(function() {
	create_note_pager();
       
    $("#main").on('click',"a[confirm]",function() {
        var url = $(this).attr('alt');
        var callback = $(this).attr('callback');
        var dialog = $('<div id="dialog-confirm" style="display:none;">{% trans "Are you sure you want to remove this?" %}</div>').appendTo('body');
        dialog.dialog({
            resizable: false,
            width: 350,
            height:150,
            modal: true,
            title: '{% trans "Confirmation required" %}',
            buttons: {
                "Yes": function() {
                	$(this).dialog( "close" );
                	$.get(url, function() {
                		update_user_messages()
                		if (window.hasOwnProperty(callback)) window[callback]();
                	})
                },
                "Cancel": function() {
                    $(this).dialog( "close" );
                }
            }
        });         
    });
    
	{% if change_group %}
	var group_data = '{{group_data|safe}}';
	var submitbtn = '<span class="nodecoration_icon icon_save" title="{% trans "Save" %}">&nbsp;</span>';
    $('#client_group.icon_edit').editable('{% serverurl change_clientgroup client.id %}', {
    	data   : function() { return group_data; },
    	event	: 'dblclick',
        type    : 'select',
        submit  : submitbtn,
        indicator : '{% trans "Saving..." %}',
        callback : function(value, settings) {
        	$.get('{% serverurl list_groups client.id %}', function(data) {
        		if (isEmpty(data)) {
        			$('#client_group').removeClass('nodecoration_icon icon_edit');
        			$('#client_group').attr('title','');
        			$('#client_group').unbind();
        		} else {
        			group_data = data;
        		}
        	});
        	update_user_messages(update_portal_act);
        }        
    });		
    {% endif %}
    
    $("#notescroll").find('.scrollup').click(function(){
        $('li.note:visible').find('.notecontent').animate({ 'scrollTop' : "-=20px" });
    });
    $("#notescroll").find('.scrolldown').click(function(){
        $('li.note:visible').find('.notecontent').animate({ 'scrollTop' : "+=20px" });
    });    
    
});
</script>
{% endblock %}
{% block main_content %}
<!-- ************************ DETAIL ************************ -->
{% include "b3portal/client/include/client_detail.html" %}
<br/>
{% if obj_perms.portal.addnotes %}
<script type="text/javascript">
<!--
create_dialog("#add_note_link", note_update); 
-->
</script>
{% endif %}
<!-- ************************ COMMENTS ************************ -->
{% if obj_perms.portal.viewnotes %}
<div id="note_box" class="client_detail">
<ul id="note_box-list">
{% for note in client.penalties.comments %}
{% include "b3portal/client/include/client_noteline.html" %}
{% endfor %}
</ul>
<div id="notescroll" style="display: none;"><span class="scrollbutton scrollup">&nbsp;</span><span class="scrollbutton scrolldown">&nbsp;</span></div>
<div id="note_box_pages"></div>
</div>
<br/>
{% endif %}
<div class="clientPanelTabGroups">
	<ul class="clientPanelTabGroup">
		<li class="tab_selected" alt="tab_details">{% trans "Details" %}</li>
		{% if obj_perms.portal.listpenalties %} 
		<li alt="tab_penalties">{% trans "Penalties" %}</li>
		{% endif %}
		<li alt="tab_activity">{% trans "Activity" %}</li> 
	</ul>
</div>
<div class="clientPanelTabContent">
	<div id="tab_details" class="clientContentTab">
		<!-- ************************ ALIASES ************************ -->
		{% if obj_perms.portal.viewalias %}
		<div id="client_aliases" alt="parent">
		{% include "b3portal/client/include/client_aliases.html" %}
		</div>
		<br/>
		<!-- ************************ IP ALIAS ************************ -->
		{% ifsetting SUPPORT_IP_ALIASES %}
		<div id="client_ipaliases" alt="parent">
		{% include "b3portal/client/include/client_ipaliases.html" %}
		</div>
		<br/>
		{% endifsetting %}
		{% endif %}		
	</div>
	<div id="tab_penalties" class="clientContentTab" alt="{% serverurl client_detail_penalties client.id %}" >
		<div class="loader-element" style="margin-top: 50px;">{% trans "Please wait, loading ..." %}</div>
		{% comment %}
		<!-- ************************ PENALTIES ************************ -->
		{% if obj_perms.portal.listpenalties %}
		<div id="client_penalties">
		{% include "b3portal/client/include/client_penalties.html" %}
		</div>
		<br/>
		<!-- ************************ NOTICES ************************ -->
		<div id="client_notice">
		{% include "b3portal/client/include/client_notices.html" %}
		</div>
		<br/>
		<!-- ************************ PAST PENALTIES ************************ -->
		<div id="past_penalties">
		{% include "b3portal/client/include/client_ipenalties.html" %}
		</div>
		<br/>
		{% endif %} <!-- PERM ENDIF -->
		{% endcomment %}
	</div>
	<div id="tab_activity" class="clientContentTab" alt="{% serverurl client_detail_activity client.id %}">
		<div class="loader-element" style="margin-top: 50px;">{% trans "Please wait, loading ..." %}</div>
		{% comment %}
		<!-- ************************ USER ACTIVITY ************************ -->
		{% if obj_perms.plugin.view_user_logs and client_adm_commands %}    
		<div id="player_actions">
		{% include "b3portal/client/include/client_user_cmd.html" %}
		</div>
		<br/>
		{% endif %}
		<!-- ************************ ADMIN ACTIVITY ************************ -->
		{% if obj_perms.plugin.view_adm_logs and client_adm_logs %}    
		<div id="admin_log_actions">
		{% include "b3portal/client/include/client_admin_logs.html" %}
		</div>
		<br/>
		{% endif %}
		<!-- ************************ ADMIN ACTIONS ************************ -->
		{% if obj_perms.portal.viewadminsinfo %}    
		<div id="admin_actions">
		{% include "b3portal/client/include/client_adminactions.html" %}
		</div>
		<br/>
		{% endif %}
		<!-- ************************ PORTAL ACTIONS ************************ -->
		{% if client_auditlogs %}    
		<div id="portal_actions">
		{% include "b3portal/client/include/client_audit.html" %}
		</div>
		<br/>
		{% endif %}	
		{% endcomment %}
	</div> 
</div>
{% endblock %}
