{% load i18n navigation extendedtags %}
<ul class="subnav">
{% url world_map as url_nav_map %}
{% url admin_list as url_nav_admin_list %}
{% url inactive_admin_list as url_nav_inadmin_list %}
{% url regularclient_list as url_nav_regular_list %}
<li id="{% current_nav url_nav_map current2 %}"><a href="{{ url_nav_map }}">{% trans "World Map" %}</a></li>
<li id="{% current_nav url_nav_regular_list current2 %}"><a href="{{ url_nav_regular_list }}">{% trans "Regular Visitors" %}</a></li>
{% if perms.b3connect.view_group %}
<li id="{% current_nav url_nav_admin_list current2 %}"><a href="{{ url_nav_admin_list }}">{% trans "Admin List" %}</a></li>
<li id="{% current_nav url_nav_inadmin_list current2 %}"><a href="{{ url_nav_inadmin_list }}?days=30">{% trans "Inactive Admins" %}</a></li>
{% endif %}
{% ifinstalled "plugins.follow" %}
{% url follow_home as url_nav_follow %}
{% if perms.follow.view_follow %}
<li id="{% current_nav url_nav_follow current2 %}"><a href="{{ url_nav_follow }}">{% trans "Watched Players" %}</a></li>
{% endif %}
{% endifinstalled %}
</ul>