{% load listtocolumns i18n tagutils settingstag urltag %}
{% for penalty in penalties %}
<tr class="{% cycle "odd" "even" %}">
<td>{{penalty.get_type_display}}</td>
<td>{{penalty.time_add|date:"DATETIME_FORMAT"}}</td>
<td>{% if penalty.inactive == 0 %}{% if penalty.duration != 0 %}{{penalty.display_duration}}{%endif%}{%endif%}</td>
<td>{% if penalty.inactive == 1 %}<span style="font-weight: bold;">{% trans "De-activated" %}</span>{%else%}{% if penalty.duration != 0 %}{{penalty.time_expire|date:"DATETIME_FORMAT"}}{%else%}-{%endif%}{%endif%}</td>
<td>{{penalty.reason|clean_colors}}</td>
<td>{% if obj_perms.portal.viewadminsinfo %}{% if penalty.admin %}<a href="{% serverurl client_detail penalty.admin.id %}">{{penalty.admin.name}}</a>{% else %}-B3{%endif%}{% else %}-{%endif%}</td>
</tr>
{% empty %}
<tr class="odd">
<td colspan="6">{% trans "No penalties" %}</td>
</tr>
{% endfor %}