{% load listtocolumns i18n tagutils settingstag urltag %}
{% for penalty in notices %}
<tr class="{% cycle "odd" "even" %}">
<td>{{penalty.time_add|date:"DATETIME_FORMAT"}}</td>
<td>{{penalty.reason|clean_colors}}</td>
<td>{% if obj_perms.b3connect.view_high_level_client %}{% if penalty.admin %}<a href="{% serverurl client_detail penalty.admin.id %}">{{penalty.admin.name}}</a>{% else %}-B3{%endif%}{% else %}-{%endif%}</td>
</tr>
{% empty %}
<tr class="odd">
<td colspan="6">{% trans "No notices" %}</td>
</tr>
{% endfor %}