{% load i18n serverpermtag %}
<small>
<form id="go_search" method="get" action="{% url client_list %}">
<input type="hidden" name="server" value="{{request.server}}" id="server_search_quick">
<input type="hidden" name="search" value="Search">
<label for="id_searchtype">{% trans "Search" %}</label>
<select id="id_searchtype" name="type">
<option value="name" {% if filter == 'name' %}selected="selected"{%endif%}>{% trans "Name" %}</option>
<option value="ip" {% if filter == 'ip' %}selected="selected"{%endif%}>{% trans "IP" %}</option>
</select>
<input type="text" name="data" value="{{data}}" style="width: 120px;">
<span title="{% trans "Search" %}" onclick="$('#go_search').submit()" class="nodecoration_icon icon_search">&nbsp;</span>
</form>
<form id="go_client" method="post" action="{% url go_player %}">
{% csrf_token %}
<label for="id_playerid">{% trans "Player" %} @</label>
<input type="text" name="playerid" id="id_playerid" class="default" style="width:50px;" placeholder="{% trans "id" %}">
<input type="hidden" name="next" value="{{request.path}}">
{% with request.server as current_server %}
<select name="server" id="quick_server">
{% for server in request.server_list %}
{% ifperm user server 'portal.viewclientinfo' %}
<option value="{{server.uuid}}" {% if current_server == server.uuid %}selected="selected"{%endif%}>{{server.name}}</option>
{% endifperm %}
{% endfor %}
</select>
{% endwith %}
<span title="{% trans "Go" %}" onclick="$('#go_client').submit()" class="nodecoration_icon icon_go">&nbsp;</span>
</form>
</small>
