{% extends "base_layout.html" %}
{% load i18n formtags settingstag %}
{% block title %}{{ block.super }} | {% trans "Login" %}{% endblock %}
{% block extra_header %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/simpletooltip.css"/>
<script type="text/javascript" src="{{STATIC_URL}}js/simpletooltip.js"></script>
<script type="text/javascript">
<!--
$(function(){
	$(".field-error").tooltip({className:'error-tip'});
});
//-->
</script>
{% endblock %}
{% block main_content_header %}
<h3>{% trans "Sign in" %}</h3>
{% endblock %}
{% block main_content %}
<div id="login_box">
<!--p>{% trans "Enter your username and password here in order to log in on the website:" %}</p-->
<form id="login" method="post" accept-charset="utf-8" class="default">
{% csrf_token %}
<table class="type-text" style="border: none;">
<tr>
<td>
<label for="id_username">{% trans "Username" %}</label>
</td>
</tr>
<tr {% if form.username.errors %}class="row-error"{% endif %}>
<td {% if form.username.errors %}class="field-error" alt="{% simpleerror form.username %}"{% endif %}> 
<input id="id_username" type="text" name="username" maxlength="30"/>
</td>
</tr>
<tr>
<td>
<label for="id_password">{% trans "Password" %}</label>
</td>
</tr>
<tr {% if form.password.errors %}class="row-error"{% endif %}>
<td {% if form.password.errors %}class="field-error" alt="{% simpleerror form.password %}"{% endif %}> 
<input type="password" name="password" id="id_password" /> 
</td>
</tr>
</table>
<a class="plus-button plus-button-blue" alt="submit">{% trans "Sign in" %}</a>
</form>
</div>
{% endblock %}
