{% extends "base_layout.html" %}
{% load i18n formtags settingstag %}
{% block title %}{{ block.super }} | {% trans "Password update" %}{% endblock %}
{% block extra_header %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/simpletooltip.css"/>
<script type="text/javascript" src="{{STATIC_URL}}js/simpletooltip.js"></script>
<script type="text/javascript">
<!--
$(function(){
	$(".field-error").tooltip({className:'error-tip'});
});
//-->
</script>
{% endblock %}
{% block main_content_header %}
<h3>{% trans "Password update" %}</h3>
{% endblock %}
{% block main_content %}
<div id="login_box" style="width: 500px">
<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
<br/>
<form method="post" accept-charset="utf-8">
{% csrf_token %}
<table class="type-text" style="border: none;">
<tr {% if form.old_password.errors %}class="row-error"{% endif %}>
<td>
<label for="id_old_password">{% trans "Old password" %}</label>
</td>
<td {% if form.old_password.errors %}class="field-error" alt="{% simpleerror form.old_password %}"{% endif %}> 
<input id="id_old_password" type="password" name="old_password" id="id_old_password" class="focus"/>
</td>
</tr>

<tr {% if form.new_password1.errors %}class="row-error"{% endif %}>
<td>
<label for="id_new_password1">{% trans 'New password' %}</label>
</td>
<td {% if form.new_password1.errors %}class="field-error" alt="{% simpleerror form.new_password1 %}"{% endif %}> 
<input id="id_new_password1" type="password" name="new_password1" id="id_new_password1"/>
</td>
</tr>

<tr {% if form.new_password2.errors %}class="row-error"{% endif %}>
<td>
<label for="id_new_password2">{% trans 'Password (again)' %}</label>
</td>
<td {% if form.new_password2.errors %}class="field-error" alt="{% simpleerror form.new_password2 %}"{% endif %}> 
<input id="id_new_password2" type="password" name="new_password2" id="id_new_password2"/>
</td>
</tr>
</table>
<a style="float: right;" class="plus-button plus-button-blue" alt="submit">{% trans "Change my password" %}</a>
</form>
<br/>
</div>
{% endblock %}