{% load plugintag serverpermtag %}
<form style="display:inline;" method="get">
{% with request.server as current_server %}
<select name="server" onchange="this.form.submit()">
{% for server in request.server_list %}
{% if checkperm %}
{% ifperm user server checkperm checkperm2 %}
	{% if pluginname %}
	{% ifpluginenabled pluginname server %}
		<option value="{{server.uuid}}" {% if current_server == server.uuid %}selected="selected"{%endif%}>{{server.name}}</option>
	{% endifpluginenabled %}
	{% else %}
		<option value="{{server.uuid}}" {% if current_server == server.uuid %}selected="selected"{%endif%}>{{server.name}}</option>
	{% endif %}
{% endifperm %}
{% else %}
	{% if pluginname %}
	{% ifpluginenabled pluginname server %}
		<option value="{{server.uuid}}" {% if current_server == server.uuid %}selected="selected"{%endif%}>{{server.name}}</option>
	{% endifpluginenabled %}
	{% else %}
		<option value="{{server.uuid}}" {% if current_server == server.uuid %}selected="selected"{%endif%}>{{server.name}}</option>
	{% endif %}
{% endif %}
{% endfor %}
</select>
{% endwith %}
</form>