{% extends "base_layout.html" %}
{% load i18n tagutils settingstag extendedtags geoip urltag plugintag gametag %}
{% block title %}{{ block.super }} | {% trans "Server Management" %}{% endblock %}
{% block extra_header %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/server.css"/>
<link rel="stylesheet" type="text/css" href="{% setting "UI_MEDIA_PATH" %}{% setting "UI_VERSION" %}/themes/{% setting "UI_THEME" %}/jquery-ui.min.css"/>
<script type="text/javascript" src="{% setting "UI_MEDIA_PATH" %}{% setting "UI_VERSION" %}/jquery-ui.min.js"></script>
<script type="text/javascript">
$(function() {
	$("#server-nav").on('click', 'a', function(e) {
		e.preventDefault();
		if ($(this).parent().hasClass('active')) return;
		var url = $(this).attr('href');
		$("#server-content").load(url, function() {
			$("#server-tabs").tabs({ selected: 0 });
		});
		$("#server-nav li.active").removeClass('active');
		$(this).parent().addClass('active');
	});
	$("#server-tabs").tabs({ selected: 0 });	
});
</script>
{% endblock %}
{% block main_content %}
<div>
<div id="server-nav">
<ul>
	{% for srv in servers %}
	<li {% if srv.pk == server.pk %}class="active"{%endif%}><a href="{% url server:get_server srv.pk %}">{{srv.name}}</a></li>
	{% endfor %}
</ul>
</div>
<div id="server-content">
{% include "b3portal/server/server_tab.html" %}
</div>
<div style="clear: both;"></div>
</div>
{% endblock %}
